In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
223,tt1441395,13300000,5380251,Under the Skin,Scarlett Johansson|KryÅ¡tof HÃ¡dek|Paul Branni...,Jonathan Glazer,A mysterious seductress preys upon the populat...,"Jonathan Glazer's atmospheric, visually arrest...",108,Thriller|Science Fiction|Drama,Scottish Screen|UK Film Council|FilmNation Ent...,3/14/2014,6.0,2014
1134,tt0329101,30000000,114908830,Freddy vs. Jason,Robert Englund|Ken Kirzinger|Jason Ritter|Moni...,Ronny Yu,Evil Will Battle Evil,Evil dream-demon Freddy Krueger devises a plan...,97,Horror,New Line Cinema|Cecchi Gori Group Tiger Cinema...,8/15/2003,5.7,2003
29,tt4046784,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,6.4,2015
774,tt1385826,50200000,127869379,The Adjustment Bureau,Matt Damon|Emily Blunt|John Slattery|Anthony M...,George Nolfi,Fight for your fate.,A man glimpses the future Fate has planned for...,106,Thriller|Romance|Fantasy,Universal Pictures|Media Rights Capital|Gambit...,3/3/2011,6.4,2011
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [372]:
# создание переменной profit
data['profit'] = data['revenue'] - data['budget'] 
data.head()

# создание новой переменной в которой в виде списка содержаться жанры фильма
def stringtolist(string): 
    result = string.str.split('|')
    return result
data['genrelist'] = stringtolist(data['genres']) 

# создание новой переменной в которой в виде списка содержаться режиссеры фильма
def directorlist(string):
    result = string.str.split('|')
    return result
data['directorlist'] = stringtolist(data['director']) 

# создание новой переменной в которой в виде списка содержаться актеры фильма
def castlist(string):
    result = string.str.split('|')
    return result
data['castlist'] = stringtolist(data['cast'])

# создание новой переменной в которой в виде списка содержаться компании-производители фильмов
def companieslist(string):
    result = string.str.split('|')
    return result
data['companieslist'] = stringtolist(data['production_companies'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [18]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:

data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 5

In [17]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [22]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [12]:
data[data.runtime == data.runtime.max()].original_title.unique()

array(['Gods and Generals'], dtype=object)

# 3. Какой из фильмов самый короткий (в минутах)?

In [23]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [20]:
data[data.runtime == data.runtime.min()].original_title.unique()

array(['Winnie the Pooh'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [27]:
answers['4'] = '2. 110'

In [26]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [29]:
answers['5'] = '1. 107'

In [28]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [33]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [40]:
answers['6'] = '5. Avatar (tt0499549)'

In [39]:
data[data.profit == data.profit.max()].original_title.unique()

array(['Avatar'], dtype=object)

# 7. Какой фильм самый убыточный?

In [350]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [37]:
data[data.profit == data.profit.min()].original_title.unique()

array(['The Lone Ranger'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [46]:
answers['8'] = '1. 1478'

In [47]:
display(data[data.profit > 0].info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 184.8+ KB

None

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [69]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [68]:
movie = pd.read_csv('movie_bd_v5.csv')
max_release = movie[(movie.release_year == 2008)].revenue.max()
movie[(movie.revenue == max_release) & (movie.release_year == 2008)].original_title.unique()

array(['The Dark Knight'], dtype=object)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [94]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [95]:
small_data = data[(data.release_year > 2011) & (data.release_year < 2015)] # выбираем данные за 2012-2014 год
small_data[small_data.profit == small_data.profit.min()].original_title.unique()

array(['The Lone Ranger'], dtype=object)

# 11. Какого жанра фильмов больше всего?

In [128]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

In [380]:
from collections import Counter

def stringtolist(string): 
    result = string.str.split('|')
    return result
data['genrelist'] = stringtolist(data['genres']) # создание новой переменной в которой в виде списка содержаться жанры фильма
genrelist = data['genrelist'].sum()
Counter(genrelist)

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

ВАРИАНТ 2

In [130]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [152]:
answers['12'] = '1. Drama'

In [153]:
df = data.explode("genrelist") # раскидываем все возможные варианты жанра, остальные данные будут дублироваться 

df[df.profit>0].genrelist.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genrelist, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [114]:
answers['13'] = '5. Peter Jackson'

In [156]:
import pandas as pd
from collections import Counter

def directorlist(string):
    result = string.str.split('|')
    return result
data['directorlist'] = stringtolist(data['director']) # создание новой переменной в которой в виде списка содержаться режиссеры фильма

df = data.explode("directorlist")
df.groupby(['directorlist'])['revenue'].sum().sort_values(ascending = False).head(10)

directorlist
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Gore Verbinski       3426362290
Steven Spielberg     3386700791
Ridley Scott         3264035909
Francis Lawrence     3179979588
Sam Raimi            3091066354
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [349]:
answers['14'] = '3. Robert Rodriguez'

In [160]:
df = data.explode("directorlist")
df_1 = df.explode("genrelist") # кроме режиссера раскидывам данные по жанру
df_1[df_1.genrelist == "Action"].directorlist.value_counts(ascending = False).head(10)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
Paul Greengrass       5
Quentin Tarantino     5
Lee Tamahori          5
Andrzej Bartkowiak    5
Roland Emmerich       5
Name: directorlist, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [190]:
answers['15'] = '3. Chris Hemsworth'

In [177]:
import pandas as pd
from collections import Counter

def castlist(string):
    result = string.str.split('|')
    return result
data['castlist'] = stringtolist(data['cast'])

df = data[data.release_year == 2012].explode("castlist") # данные за 2012 год разбросанные по актерам

df.groupby(['castlist'])['revenue'].sum().sort_values(ascending = False).head(10) # группировка по актерам, данные по кассовым

castlist
Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Chris Evans           1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Scarlett Johansson    1519557910
Ralph Fiennes         1409561013
Sacha Baron Cohen     1368110577
Kristen Stewart       1234384318
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [189]:
answers['16'] = '3. Matt Damon'

In [188]:
df = data[data.budget>data.budget.mean()].explode("castlist") # разбросать по актерам фильмы с бюджетом выше среднего

# сгруппировать по актерам, посчитать в каком количестве фильмов они учавствовали и показать первые 10 максимальных значений
df.groupby(['castlist'])["budget"].count().sort_values(ascending = False).head(10)

castlist
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
Tom Cruise           15
Ben Stiller          14
Russell Crowe        14
Jamie Foxx           14
Mark Wahlberg        14
Name: budget, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [192]:
answers['17'] = '2. Action'

In [193]:

# в новом датасэте раскидать по актерам и по жанру
df = data.explode("castlist") 
df_1 = df.explode("genrelist")

# выбрать Николаса Кейджа, посчитать фильмы и показать первые десять жанров с его участием по количеству
df_1[df_1.castlist == "Nicolas Cage"].genrelist.value_counts(ascending = False).head(10)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Name: genrelist, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [232]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [373]:
# создание новой переменной в которой в виде списка содержаться компании-производители фильмов
def companieslist(string):
    result = string.str.split('|')
    return result
data['companieslist'] = stringtolist(data['production_companies'])

df = data.explode("companieslist") # раскидываем данные по компаниям и сохраняем данные в новый датафрэйм

# выбираем фильмы соответствующей компании, сортируем их по доходу и выставляем названия
df[df.companieslist == "Paramount Pictures"].sort_values("profit", ascending = True).original_title

925                                  K-19: The Widowmaker
1123                                             Timeline
1722                                                 Next
1623                                                Alfie
1631                                              Twisted
                              ...
730                  Mission: Impossible - Ghost Protocol
1738                                         Transformers
603     Indiana Jones and the Kingdom of the Crystal S...
317                   Transformers: Revenge of the Fallen
828                        Transformers: Dark of the Moon
Name: original_title, Length: 122, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [237]:
answers['19'] = '5. 2015'

In [238]:
data.groupby(["release_year"])["revenue"].sum().sort_values(ascending = True)

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [254]:
answers['20'] = '1. 2014'

In [375]:
# вычленяем компании которые содержат Warner Bros, группируем по году выпуска, по перемпнной доход считаем сумму,
# которую ранжируем по значениям

data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [323]:
answers['21'] = '4. Сентябрь'

In [377]:
import datetime # импортируем

data['Date'] = pd.to_datetime(data['release_date']) # переводим переменную в формат даты

data['Month'] = data['Date'].dt.month # в новой переменной сохраняем месяц

# группируем по месяцу и вычисляем количество фильмов в этом месяце, значения ранжированы от максимального к минимальному
data.groupby(["Month"])["Month"].count().sort_values(ascending=False)

Month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: Month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [325]:
answers['22'] = '2. 450'

In [378]:
data[data.Month.isin([6,7,8])].Month.count() # выбираем фильмы по месяцам из списка и расчитываем сколько их было

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [330]:
answers['23'] = '5. Peter Jackson'

In [379]:
import datetime # импортируем

data['Date'] = pd.to_datetime(data['release_date']) # переводим переменную в формат даты

data['Month'] = data['Date'].dt.month # в новой переменной сохраняем месяц

df = data.explode("directorlist") # раскидываем фильмы по режиссерам

# выбираем фильмы по месяцам из списка и считаем сколько фильмов выпускал режиссер, данные отсортированы
df[df.Month.isin([1,2,12])].directorlist.value_counts(ascending = False)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
                    ..
Brian Taylor         1
Louis Leterrier      1
Philip Kaufman       1
Guy Ritchie          1
Brad Silberling      1
Name: directorlist, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [338]:
answers['24'] = '5. Four By Two Productions'

In [400]:
data = pd.read_csv('movie_bd_v5.csv') # открываем базу данных

# создание новой переменной которая сохраняет количество символов в названии
data['title_length'] = data['original_title'].map(lambda x: len(x)) 

# создание новой переменной в которой в виде списка содержаться компании-производители фильмов
def companieslist(string):
    result = string.str.split('|')
    return result
data['companieslist'] = stringtolist(data['production_companies'])

df = data.explode("companieslist") # раскидываем данные по компаниям и сохраняем данные в новый датафрэйм

# выбираем фильмы по длине названия, сортируем их по длине и выставляем названия
df.sort_values("title_length", ascending = False).companieslist.head(1)

1448    Four By Two Productions
Name: companieslist, dtype: object

1448    Four By Two Productions
Name: companieslist, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [412]:
answers['25'] = '3. Midnight Picture Show'

In [369]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

# создание переменной компаний
def companieslist(string):
    result = string.str.split('|')
    return result
data['companieslist'] = stringtolist(data['production_companies'])



df = data.explode("companieslist")

df

#df[df.companieslist == "Paramount Pictures"].sort_values("profit", ascending = True).original_title

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,companieslist
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,Universal Studios
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,Amblin Entertainment
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,Legendary Pictures
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,Fuji Television Network
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,Dentsu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,Laurence Mark Productions
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,Columbia Pictures Corporation
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,Global Entertainment Productions GmbH & Compan...
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,Nora Ephron Productions
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,Warner Bros. Pictures

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [356]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [403]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')


border = np.quantile(data.vote_average, 0.99) # вычисляем границу 99 перцентиля

# фильмы выше по границе сортируются и выводятся их названия
data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [361]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [407]:
from collections import Counter
from itertools import combinations

def stringtolist(string):
    result = string.str.split('|')
    return result

data = pd.read_csv('movie_bd_v5.csv') # открыть данные
data['cast'] = stringtolist(data['cast']) # новая переменная со списком актеров
actor_pairs = [] # пустой список пар актеров

# заполнние списка возможными комбинациями
for i in range(0, len(data)):
    for item in combinations(data['cast'][i], 2):
        actor_pairs.append(item)
     
# как часто встречаются комбинации и выявление наиболее частой комбинации
Counter(actor_pairs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [413]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'2': '2. Gods and Generals (tt0279111)',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '13': '5. Peter Jackson',
 '11': '3. Drama',
 '12': '1. Drama',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '14': '3. Robert Rodriguez',
 '7': '5. The Lone Ranger (tt1210819)',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '25': '3. Midnight Picture Show'}

In [409]:
# и убедиться что ни чего не пропустил)
len(answers)

27